@charset "utf-8";
@import "_mixin";
@import "_var";
@import "_function";
#wrap{width:100vw; height:50vw; position:relative;
.swiper-container {
    box-sizing: border-box;
    width: 100%; height: 100%;
    .pnbtn{display: none;}
    .swiper-wrapper{
      .swiper-slide{background-color: transparent; width:100%; position:relative;}
    }
      .swiper-pagination-bullets{
        position:fixed;
        bottom:auto; top:vw-calc1920(-5); left:auto; right:vw-calc1920(250); 
        width:vw-calc1920(600);  height:auto;
       margin-top:vw-calc1920(50);
        .swiper-pagination-bullet{
          position: relative;
          width:vw-calc1920(120); height:vw-calc1920(25); line-height: vw-calc1920(20); padding-top:vw-calc1920(2);
          border-radius:0;  background:none;
          font-family: $fontRobo; font-weight: 400; font-size: vw-calc1920(20);
          &::after{
            @include translateX-50;
            content:""; display: block; position:absolute; width:0; height:vw-calc1920(3); background: $blue; left:50%; transition:all 0.5s;}
          &:nth-child(1):hover::after,&:nth-child(1):focus::after{width:vw-calc1920(60);}
          &:nth-child(2):hover::after,&:nth-child(2):focus::after{width:vw-calc1920(50);}
          &:nth-child(3):hover::after,&:nth-child(3):focus::after{width:vw-calc1920(90);}
          &:nth-child(4):hover::after,&:nth-child(4):focus::after{width:vw-calc1920(85);}
          &:nth-child(3){margin-left:vw-calc1920(20);}
          &:nth-child(4){margin-left:vw-calc1920(35);}
        }
      }
    .swiper-scrollbar{
      height:vw-calc1920(2.5); bottom:vw-calc1920(70); left:vw-calc1920(20); background: rgb(87, 87, 87);
    }
    .swiper-scrollbar-drag{
      width:90%;  height:vw-calc1920(8); top:0;  border-radius:0; background: rgb(43, 43, 43);
      cursor: pointer;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: vw-calc1920(16);
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  //배경 라인 스타일
  .line{width:100vw; height:vw-calc1920(1); background: #52525231; position:absolute; }
  #lineTop{top:vw-calc1920(110); left:0;}
  #lineBottom{bottom:vw-calc1920(100); left:0;}
  .line2{width:vw-calc1920(1);  background: #52525231; position:absolute; }
  #lineleft{left:vw-calc1920(280);top:0; height:vw-calc1920(1080); }
  #lineright{right:vw-calc1920(280);top:vw-calc1920(110); height:vw-calc1920(970); }
  #cnt1{
      #about_box{
        .ab{position: relative;}
        .ab1{
          grid-row:1/3;
          overflow: hidden;
          width:vw-calc1920(400); height:vw-calc1920(600);
          img{width:vw-calc1920(1080); height:auto; max-width: none; position:absolute; left:-50%; top:-10%;}
          .black{
            width:100%; height:100%; background: rgba(0, 0, 0, 0.349); 
            position:absolute; top:0; left:0; transition:all 0.5s;
          }
          p{
            font-family: $fontRobo; font-weight: 500; font-size: vw-calc1920(50); position:absolute; top:vw-calc1920(245); right:vw-calc1920(10); color:rgb(243, 243, 243); cursor:default; transition:all 0.5s;
          }
          &:hover .black {
            background: rgba(0, 0, 0, 0); 
          }
          &:hover p{
            color:#000;
          }
        }
        .ab2{
          @include bgsize(cover);
          grid-row:2/3;
           width:vw-calc1920(498); height:vw-calc1920(280);    
          video{ height:100%;}
          .clock{
            position:absolute; top:vw-calc1920(-325); left:0; font-size: vw-calc1920(30); font-family: $fontRobo;
          }
          #time{
           font-size: vw-calc1920(14); text-align: left;  padding-left:vw-calc1920(10); width:vw-calc1920(100); height:vw-calc1920(95);
            position:absolute; top:vw-calc1920(-5); right:vw-calc1920(-100); 
            .tb{margin-bottom: vw-calc1920(5); width:vw-calc1920(55); height:vw-calc1920(25); z-index: 500; text-align: left;}
            .tb:hover{ text-decoration: underline;}
          }
        }
        .ab4{
          p{
            text-align:left;
            display: inline-block;
            width:vw-calc1920(200); line-height: 2;
            position:absolute; top:vw-calc1920(-10); right:0; font-weight: 400;
          }
        }
      }
      .arrow{
        position:absolute; bottom:vw-calc1920(160); right:vw-calc1920(70); width:vw-calc1920(153); height:vw-calc1920(69); opacity: 0.7;
        animation:arrow 1.5s linear infinite;
      }
      @keyframes arrow {
      0%{right:vw-calc1920(70);}
      50%{right:vw-calc1920(90); opacity:0.5;}
      100%{right:vw-calc1920(70);}
      }
  }
 #cnt2{
   #skill_box{
      // >div:nth-child(odd){background: rgba(0, 0, 255, 0.377);}
    //  >div:nth-child(even){background: rgba(255, 0, 0, 0.301);}
     .sb{position:relative;}

     .sb1{
       grid-row:1/3;
       .skillhead{
         p{right:vw-calc1920(-250);}
       }
       .publishing{
         .html{top:vw-calc1920(50); left:vw-calc1920(60);}
         .css{top:vw-calc1920(50); right:vw-calc1920(60); width:vw-calc1920(50);}
         .cv1{top:vw-calc1920(180); right:vw-calc1920(80);}//top:215px
         .ch1{
          @include translateX-50; 
          top:vw-calc1920(85); left:50%; }
          .sass{ top:vw-calc1920(290); right:vw-calc1920(40); width:vw-calc1920(90);}
          .cv2{top:vw-calc1920(180); left:vw-calc1920(80);}//top:215px
          .js{width:vw-calc1920(40); top:vw-calc1920(245); left:vw-calc1920(70); padding-top:vw-calc1920(30);}
          .cv3{bottom:vw-calc1920(150); left:vw-calc1920(80);}//bottom:120px
          .jquery{bottom:vw-calc1920(30); left:vw-calc1920(50); width:vw-calc1920(70);
          }
          .jsinfo, .jqueryinfo{padding-top:vw-calc1920(10);}
       }
     }
     .sb2{
       .txtcircle{right:vw-calc1920(-110);}
     }
     .sb3{
      .skillhead{
        p{right:vw-calc1920(-260);}
      }
      .vision{
        .vue{
          top:vw-calc1920(50); left:vw-calc1920(50); }
          .ch2{
            @include translateX-50;
            top:vw-calc1920(85); left:50%;}
         .react{top:vw-calc1920(50); right:vw-calc1920(60);}
         .cv3{top:vw-calc1920(165); left:vw-calc1920(70);}
          .typescript{top:vw-calc1920(250); left:vw-calc1920(40); width:vw-calc1920(90);}
          .ch3{
           @include translateX-50;
            top:vw-calc1920(280); left:50%;}
        .angular{top:vw-calc1920(245); right:vw-calc1920(50); width:vw-calc1920(70);}
      }
     }
     .sb4{
      .skillhead{
        p{right:vw-calc1920(-200);}
      }
      .design{
       .photoshop{top:vw-calc1920(50); left:vw-calc1920(50);}
       .ch4{
        @include translateX-50;
        top:vw-calc1920(65); left:50%;}
       .illustrator{top:vw-calc1920(50); right:vw-calc1920(50);}
       .photoshopinfo{top:vw-calc1920(30); left:0; padding-top:vw-calc1920(50);}
       .illustinfo{top:vw-calc1920(30); right:vw-calc1920(-20); padding-top:vw-calc1920(50);}
     }
    }
   }
 }
 #cnt3{
  #portfolio_Tab{
    position:absolute; top:vw-calc1920(180); left:vw-calc1920(320);
    width: vw-calc1920(1300); height: vw-calc1920(610);
  .pr_list{position:absolute; top:vw-calc1920(-15);left:vw-calc1920(-250); display: flex; flex-direction: column;}
  .pr_list li{display:inline-block; width:vw-calc1920(150); height:vw-calc1920(50); line-height: vw-calc1920(50); text-align: right; cursor:pointer; box-sizing: border-box; font-size: 20px; font-weight: 500; color:rgb(184, 184, 184);
  }
  .pr_list li.active,.tabpanel{color:rgb(37, 37, 37);}
  .tabpanel{display:none;}
  .tabpanel.active{display: block;}
  
   .portfolio_box{
    top:0; left:0;
    >div:nth-child(odd){background: blue;}
    >div:nth-child(even){background: red;}
    .pb{position:relative;}
   }
  }
 }
 #cnt4{
  #contact_box{
    >div:nth-child(odd){background: blue;}
    >div:nth-child(even){background: red;}
    .cb{position:relative;}
   }

 }
}
  @media screen and (max-width:1440px){
    #wrap{
      .swiper-container{
        .swiper-scrollbar{
          bottom:vw-calc1920(5);
        }
      }
    }
  }
  


