@charset "utf-8";
@import "_mixin";
@import "_var";
@import "_function";
#loading{
  width:100%; height:100%; background: rgb(240, 240, 240); color: rgb(100, 100, 100);
  z-index: 900; position:fixed; top:0; left:0;
  .progress_bar{
    @include translateY-50;
    position:fixed; top:50%; width:0%; height:2px; background: rgb(100, 100, 100);
  }
  .progress_txt{
    @include transform(translate(-50%,-50%));
    position:fixed; top:45%; left:50%;
    font-size: vw-calc1920(20);
  }
}
#wrap{width:100%; height:100vh; position:relative; 
  .scroll_bar{width:0%; height:5px; background: #000; position:fixed; top:0; left:0;} //위쪽으로 선이 늘어나면서 스크롤바처럼 역할
.swiper-container {
    box-sizing: border-box;
    width: 100%; height: 100%;
    .pnbtn{display: none;}
    .swiper-wrapper{
      .swiper-slide{background-color: transparent; width:100%; position:relative;}
    }
      .swiper-pagination-bullets{
        position:fixed;
        bottom:auto; top:vw-calc1920(-5); left:auto; right:vw-calc1920(250); 
        width:vw-calc1920(600);  height:auto;
       margin-top:vw-calc1920(50);
        .swiper-pagination-bullet{
          position: relative;
          width:vw-calc1920(120); height:vw-calc1920(25); line-height: vw-calc1920(20); padding-top:vw-calc1920(2);
          cursor:url(../images/cursor_yellow.cur),auto;
          border-radius:0;  background:none;
          font-family: $fontRobo; font-weight: 400; font-size: vw-calc1920(20);
          &::after{
            @include translateX-50;
            content:""; display: block; position:absolute; width:0; height:vw-calc1920(3); background: rgb(40, 45, 66); left:50%; transition:all 0.5s;}
          &:nth-child(1):hover::after,&:nth-child(1):focus::after{width:vw-calc1920(50);}
          &:nth-child(2):hover::after,&:nth-child(2):focus::after{width:vw-calc1920(60);}
          &:nth-child(3):hover::after,&:nth-child(3):focus::after{width:vw-calc1920(110);}
          &:nth-child(4):hover::after,&:nth-child(4):focus::after{width:vw-calc1920(85);}
          &:nth-child(3){margin-left:vw-calc1920(20);}
          &:nth-child(4){margin-left:vw-calc1920(35);}
        }
      }
    .swiper-scrollbar{
      width:97%; height:vw-calc1920(2.5); bottom:vw-calc1920(20); left:vw-calc1920(30); background: rgb(59, 59, 59);
    }
    .swiper-scrollbar-drag{
      width:90%;  height:vw-calc1920(8); top:0;  border-radius:0; background: rgb(31, 31, 31);
      cursor: url(../images/cursor_yellow.cur),auto;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: vw-calc1920(16);
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  //배경 라인 스타일
  .line{width:100vw; height:vw-calc1920(1); background: #2e2e2e31; position:absolute; }
  #lineTop{top:vw-calc1920(110); left:0;}
  #lineBottom{bottom:vw-calc1920(100); left:0;}
  .line2{width:vw-calc1920(1);  background: #2e2e2e31; position:fixed; }
  #lineleft{left:vw-calc1920(280);top:0; height:vw-calc1920(1080); }
  #lineright{right:vw-calc1920(280);top:vw-calc1920(110); height:vw-calc1920(1080); }
  .line.white{background: #ffffff31;}
  .line2.white{ background: #ffffff31; }
  #cnt1{
    .clock{
      z-index: 300;
     position:absolute; top:vw-calc1920(160); left:vw-calc1920(400); font-family: $fontRobo; font-size: vw-calc1920(50); font-weight: 600; color:#cccccc
    }
    .main_photo{
      z-index: 10; width:100%; height:100%;
      /* width:vw-calc1920(900); height:vw-calc1920(600);  */ position:relative; top:0; left: 0;  overflow: hidden;
      &:hover .black{ background: rgba(0, 0, 0,0);}
      .black{width:100%; height:100%; background: rgba(0, 0, 0,0.2); position:absolute; top:0; left:0; z-index: 20; transition:all 0.5s;
      }
      img{
      max-width: none; width:120%; height:auto; position:absolute;  top:-10%; left:-10%;
      }
    }
  }
 #cnt2{
   
   #skill_box{
      // >div:nth-child(odd){background: rgba(0, 0, 255, 0.377);}
    //  >div:nth-child(even){background: rgba(255, 0, 0, 0.301);}
     .sb{position:relative;}

     .sb1{
       grid-row:1/3;
       .skillhead{
         p{right:vw-calc1920(-250);}
       }
       .publishing{
         .html{top:vw-calc1920(50); left:vw-calc1920(60);}
         .css{top:vw-calc1920(50); right:vw-calc1920(60); width:vw-calc1920(50);}
         .cv1{top:vw-calc1920(180); right:vw-calc1920(80);}//top:215px
         .ch1{
          @include translateX-50; 
          top:vw-calc1920(85); left:50%; }
          .sass{ top:vw-calc1920(290); right:vw-calc1920(40); width:vw-calc1920(90);}
          .cv2{top:vw-calc1920(180); left:vw-calc1920(80);}//top:215px
          .js{width:vw-calc1920(40); top:vw-calc1920(245); left:vw-calc1920(70); padding-top:vw-calc1920(30);}
          .cv3{bottom:vw-calc1920(150); left:vw-calc1920(80);}//bottom:120px
          .jquery{bottom:vw-calc1920(30); left:vw-calc1920(50); width:vw-calc1920(70);
          }
          .jsinfo, .jqueryinfo{padding-top:vw-calc1920(10);}
       }
     }
     .sb2{
       .txtcircle{right:vw-calc1920(-110);}
     }
     .sb3{
      .skillhead{
        p{right:vw-calc1920(-260);}
      }
      .vision{
        .vue{
          top:vw-calc1920(50); left:vw-calc1920(50); }
          .ch2{
            @include translateX-50;
            top:vw-calc1920(85); left:50%;}
         .react{top:vw-calc1920(50); right:vw-calc1920(60);}
         .cv3{top:vw-calc1920(165); left:vw-calc1920(70);}
          .typescript{top:vw-calc1920(250); left:vw-calc1920(40); width:vw-calc1920(90);}
          .ch3{
           @include translateX-50;
            top:vw-calc1920(280); left:50%;}
        .angular{top:vw-calc1920(245); right:vw-calc1920(50); width:vw-calc1920(70);}
      }
     }
     .sb4{
      .skillhead{
        p{right:vw-calc1920(-200);}
      }
      .design{
       .photoshop{top:vw-calc1920(50); left:vw-calc1920(50);}
       .ch4{
        @include translateX-50;
        top:vw-calc1920(65); left:50%;}
       .illustrator{top:vw-calc1920(50); right:vw-calc1920(50);}
       .photoshopinfo{top:vw-calc1920(30); left:0; padding-top:vw-calc1920(50);}
       .illustinfo{top:vw-calc1920(30); right:vw-calc1920(-20); padding-top:vw-calc1920(50);}
     }
    }
   }
 }
 #cnt3{
   .txtcircle{
     right:vw-calc1920(-110)
   }
  #portfolio_Tab{
    position:absolute; top:vw-calc1920(180); left:vw-calc1920(320);
    width: vw-calc1920(1300); height: vw-calc1920(610);
  .pr_list{position:absolute; top:vw-calc1920(-15);left:vw-calc1920(-250); display: flex; flex-direction: column;}
  .pr_list li{
    display:inline-block; width:vw-calc1920(150); height:vw-calc1920(50); line-height: vw-calc1920(50); text-align: right; cursor:url(../images/cursor_yellow.cur),auto; box-sizing: border-box;   font-family: $fontRobo; font-size: vw-calc1920(20); font-weight: 500; color:rgba(8, 8, 8, 0.295);
  }
  .pr_list li.active,.tabpanel{color:rgb(37, 37, 37);}
  .tabpanel{display:none;}
  .tabpanel.active{display: block;}
  
  .portfolio_box{
   top:0; left:0;
   //>div:nth-child(odd){background: blue;}
   //>div:nth-child(even){background: red;}
   .pb{position:relative;}
  }
  #works{
    text-align: left;
     .work_box1{
       transition: all 1s;
        .pb1{
       grid-row: 1/3;
       overflow:hidden;
       overflow-y: scroll;
       &::-webkit-scrollbar{width:vw-calc1920(20);}
       &::-webkit-scrollbar-thumb{background-color: #3d3d3d;}
       &::-webkit-scrollbar-thumb:hover{background-color: #494949;}
      &::-webkit-scrollbar-track{background-color: #76777c;}
        }
        .pb2{ 
        line-height: 2;
        h4{position:absolute; top:vw-calc1920(-10); left:0;}
      .works_keyword{
        width:vw-calc1920(400); height:vw-calc1920(280);  margin-left:vw-calc1920(20); position:absolute; top:vw-calc1920(30); left:0;
        li{
          .fa-check{font-size: inherit;}
          width:vw-calc1920(200); height:vw-calc1920(40);line-height: vw-calc1920(40);}
           }
        }
        .pb3{
          h4{position:absolute; top:vw-calc1920(-10); left:0;  font-family: $fontRobo;}
          .study{
            position:absolute; top:vw-calc1920(30); left:0; 
            width:vw-calc1920(400); height:vw-calc1920(280);
            ul{
              margin-left:vw-calc1920(20);
              li{
                i{font-size: inherit;}
                width:vw-calc1920(200); height:vw-calc1920(40); line-height: vw-calc1920(40);
                }
            }
          }
        }
        .pb4{
          overflow: hidden;
          .worksinfo{
            position:absolute; top:vw-calc1920(30); left:0; transition: all 1s;
            width:vw-calc1920(380); height:vw-calc1920(280);
            h5,h6,p{
              margin-left:vw-calc1920(20); margin-top:vw-calc1920(10);}
              p{line-height: 1.7; font-size: vw-calc1920(15);}
            }
            .wi2{right:-50%; opacity: 0;}
            .go_right{left:0; right:auto; opacity: 1} //보이게 할때 투명도 1
            .go_invisible_left{left:50%; opacity: 0;}//오른쪽으로 이동하면서 투명0 다음버튼일때
            .go_invisible_right{left:-50%; opacity: 0;}//왼쪽으로 이동하면서 투명0 이전버튼일때
          .right_left{
            position:absolute; top:0; right:0; width:vw-calc1920(64);  height:vw-calc1920(32); display: flex;
             button{width:vw-calc1920(32);  height:vw-calc1920(32);
            .rl{font-size: inherit; }
                      }
                    }
               }
        .pb5{
          .site{
            width:vw-calc1920(400); display: flex; justify-content: space-between;
            a{
              border-bottom: vw-calc1920(5) solid #3d3d3d;
              &::before{content:""; visibility: hidden; width:100%; height:100%; background: #76777c; position:absolute;z-index: -1;top:0; left:-100%; transition:all 0.5s;}
              &:hover::before{visibility: visible; left:0;}
              &:hover{color:#e6e6e6;}
             }
            }
          }
        }
      }
  #project{
        text-align: left;
        .work_box1{
          transition: all 1s;
           .pb1{
          grid-row: 1/3;
          overflow:hidden;
          overflow-y: scroll;
          &::-webkit-scrollbar{width:vw-calc1920(20);}
          &::-webkit-scrollbar-thumb{background-color: #3d3d3d;}
          &::-webkit-scrollbar-thumb:hover{background-color: #494949;}
         &::-webkit-scrollbar-track{background-color: #76777c;}
           }
           .pb2{ 
           line-height: 2;
           h4{position:absolute; top:vw-calc1920(-10); left:0;}
         .works_keyword{
           width:vw-calc1920(400); height:vw-calc1920(280);  margin-left:vw-calc1920(20); position:absolute; top:vw-calc1920(30); left:0;
           li{
             .fa-check{font-size: inherit;}
             width:vw-calc1920(200); height:vw-calc1920(40);line-height: vw-calc1920(40);}
              }
           }
           .pb3{
             h4{position:absolute; top:vw-calc1920(-10); left:0; font-family: $fontRobo;}
             .study{
               position:absolute; top:vw-calc1920(30); left:0; 
               width:vw-calc1920(400); height:vw-calc1920(280);
               ul{
                 margin-left:vw-calc1920(20);
                 li{
                   i{font-size: inherit;}
                   width:vw-calc1920(200); height:vw-calc1920(40); line-height: vw-calc1920(40);
                   }
               }
             }
           }
           .pb4{
             overflow: hidden;
             .worksinfo{
               position:absolute; top:vw-calc1920(30); left:0; transition: all 1s;
               width:vw-calc1920(380); height:vw-calc1920(280);
               h5,h6,p{
                 margin-left:vw-calc1920(20); margin-top:vw-calc1920(10);}
                 p{line-height: 1.7; font-size: vw-calc1920(15);}
               }
               .wi2{right:-50%; opacity: 0;}
               .go_right{left:0;opacity: 1} //보이게 할때 투명도 1
               .go_invisible_left{left:50%; opacity: 0;}//오른쪽으로 이동하면서 투명0 다음버튼일때
               .go_invisible_right{left:-50%; opacity: 0;}//왼쪽으로 이동하면서 투명0 이전버튼일때
             .right_left{
               position:absolute; top:0; right:0; width:vw-calc1920(64);  height:vw-calc1920(32); display: flex;
                button{width:vw-calc1920(32);  height:vw-calc1920(32);
               .rl{font-size: inherit; }
                         }
                       }
                  }
           .pb5{
             .site{
               width:vw-calc1920(400); display: flex; justify-content: space-between;
               a{
                 border-bottom: vw-calc1920(5) solid #3d3d3d;
                 &::before{content:""; visibility: hidden; width:100%; height:100%; background: #76777c; position:absolute;z-index: -1;top:0; left:-100%; transition:all 0.5s;}
                 &:hover::before{visibility: visible; left:0;}
                 &:hover{color:#e6e6e6;}
                }
               }
             }
           }
      }
      #view{
        #portfolio_box3{
        // >div:nth-child(odd){background: blue;}
        //>div:nth-child(even){background: red;}
        .pb{cursor:url(../images/cursor_yellow.cur),auto;}
        .pb1,.pb2,.pb3,.pb4,.pb5,.pb6{
          @include bgsize(cover);
          background: url(../images/laon_main.jpg)no-repeat center;
          &::after{content:""; display:block; width:100%; height:100%; background: rgba(255, 255, 255, 0.274); position:absolute; top:0; left:0;}
          &:hover::after{background: rgba(163, 163, 163, 0.274);}
        }
        }
      }
   }
   .prev_next{
   width:vw-calc1920(1300);bottom:vw-calc1920(-50); display: flex; justify-content: space-between;
   .prev{text-align: left;}
   .next{text-align: right; padding-right:vw-calc1920(20)}
    }
  }
  #cnt4{
   #contact_box{
     //>div:nth-child(odd){background: blue;}
     //>div:nth-child(even){background: red;}
     .cb{position:relative;}
    }
    .cb1{
      grid-row: 1/3;
      text-align: left;
      .my_infobox{
        &:nth-child(1){margin-top:0;}
        margin-top:vw-calc1920(50);
        h6{font-family: $fontRobo; font-size: vw-calc1920(20);
         i{font-size: inherit;}
        }
        ul{
          margin-left:vw-calc1920(50);
          li{width:vw-calc1920(300); height:vw-calc1920(30)px; line-height: vw-calc1920(30);}
        }
      }
    }
  }
 }

  @media screen and (max-width:1440px){
    #wrap{
      .swiper-container{
        .swiper-scrollbar{
         bottom:vw-calc1920(20);
        }
      }
    }
  }
  


