@charset "utf-8";
@import "_mixin";
@import "_var";
#wrap{  width: 100%;
    height: 100vh; position:relative;}
.swiper-container {
    box-sizing: border-box;
    width: 100%; height: 100%;
    .pnbtn{display: none;}
    .swiper-wrapper{
      .swiper-slide{background-color: transparent;}
    }
      .swiper-pagination-bullets{
        position:fixed;
        bottom:auto; top:-5px; left:auto; right:250px; 
        width:600px;  height:auto;
       margin-top:50px;
        .swiper-pagination-bullet{
          width:120px; height:25px; line-height: 20px; padding-top:2px;
          border-radius:0;  background:none;
          font-family: $fontRobo; font-weight: 400; font-size: 20px;
          &:nth-child(3){margin-left:20px;}
          &:nth-child(4){margin-left:35px;}
        }
      }
    .swiper-scrollbar{
      height:2.5px; bottom:30px; background: rgb(87, 87, 87);
    }
    .swiper-scrollbar-drag{
      width:90%;  height:8px; top:0px;  border-radius:0px; background: rgb(43, 43, 43);
      cursor: pointer;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  //배경 라인 스타일
  .line{width:100%; height:1px; background: #52525231; position:fixed; }
  #lineTop{top:12%; left:0;}
  #lineBottom{bottom:20%; left:0;}
  .line2{width:1px; height:100%;  background: #52525231; position:fixed; }
  #lineleft{left:15%;top:0;}
  #lineright{right:15%;top:12%;}
  #cnt1{
    position:relative;
      #about_box{
        width:1300px; height:610px;  position:absolute; top:125px;
        display: grid;
        grid-template-columns: 330px 640px 200px;
        grid-template-rows: 200px;
        grid-gap: 50px;
        div{position:relative;}
        .ab1{
        //  @include bgsize(cover);
          grid-row-start: 1;
          grid-row-end:4;
          overflow: hidden;
          width:330px; height:611px;
          // background: url(../images/web_main.jpg)no-repeat center;
          img{width:1080px; height:auto; max-width: none; position:absolute; left:-50%; top:-10%;}
          .black{
            width:100%; height:100%; background: rgba(0, 0, 0, 0.349); 
            position:absolute; top:0; left:0; transition:all 0.5s;
          }
          p{
            font-family: $fontRobo; font-weight: 500; font-size: 50px; position:absolute; top:245px; right:10px; color:rgb(243, 243, 243); cursor:default; transition:all 0.5s;
          }
          &:hover .black {
            background: rgba(0, 0, 0, 0); 
          }
          &:hover p{
            color:#000;
          }
        }
        .ab2{
          @include bgsize(cover);
          grid-row-start:2;
          grid-row-end:4;            
          //  width:640px; height:360px;
          video{height:100%;}
          .clock{
            position:absolute; top:-250px; left:0; font-size: 30px; font-family: $fontRobo;
          }
          #time{
           font-size: 14px; text-align: left;  padding-left:10px; width:100px; height:95px;
            position:absolute; top:-5px; right:-100px; 
            .tb{margin-bottom: 5px; width: 55px; height:25px; z-index: 500; text-align: left;}
            .tb:hover{ text-decoration: underline;}
          }
        }
        .ab3{
          .txtcircle{
            @include translateX-50;
            position:absolute; bottom:0px; right:0; z-index: 100;
            animation:circle2 0.5s linear 1.5s 1 forwards;
             img{
               width:100%;
               animation:circle 15s linear infinite;
             }
             @keyframes circle {
               0%{transform:rotate(0deg);}
               100%{transform:rotate(360deg);}
             }
            }
        }
        .ab4{
          p{
            text-align: left;
            display: inline-block;
            width:200px; line-height: 2;
            position:absolute; top:-6px; left:60px; font-weight: 400;
          }
        }
      }
      .arrow{
        position:absolute; bottom:80px; right:120px; width:153px; height:69px; opacity: 0.7;
        animation:arrow 1.5s linear infinite;
      }
      @keyframes arrow {
      0%{right:120px;}
      50%{right:100px; opacity:0.5;}
      100%{right:120px;}
      }
  }

  @media screen and (max-width:1440px){
    #cnt1{
        #about_box{
          width:vw-calc1440(1300); height:vw-calc1440(610);  top:vw-calc1440(125);
          grid-template-columns: vw-calc1440(330) vw-calc1440(640) vw-calc1440(200);
          grid-template-rows: vw-calc1440(200);
          grid-gap: vw-calc1440(50);
          .ab1{
            width:vw-calc1440(330); height:vw-calc1440(611);
            img{width:vw-calc1440(1080);}
            p{
             font-size: vw-calc1440(50);top:vw-calc1440(245); right:vw-calc1440(10); 
            }
          }
          .ab2{
            .clock{
              position:absolute; top:vw-calc1440(-250); font-size: vw-calc1440(30); 
            }
            #time{
             font-size: vw-calc1440(14);  padding-left:vw-calc1440(10); width:vw-calc1440(100); height:vw-calc1440(95);
              position:absolute; top:vw-calc1440(-5); right:vw-calc1440(-100); 
              .tb{margin-bottom: vw-calc1440(5); width: vw-calc1440(55); height:vw-calc1440(25);}
            }
          }
          .ab3{
            .txtcircle{
              @include translateX-50;
               img{
                 width:100%;
                 animation:circle 15s linear infinite;
               }
              }
          }
          .ab4{
            p{
              width:vw-calc1440(200);
             top:vw-calc1440(-6); left:vw-calc1440(60); 
            }
          }
        }
        .arrow{
          bottom:vw-calc1440(80); right:vw-calc1440(120); width:vw-calc1440(153); height:vw-calc1440(69);
          animation:arrow 1.5s linear infinite;
        }
        @keyframes arrow {
        0%{right:vw-calc1440(120);}
        50%{right:vw-calc1440(100);}
        100%{right:vw-calc1440(120);}
        }
    }
  
  }
  


