#wrap {
  width: 100vw;
  height: 100vh;
  position: relative; }

.swiper-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%; }
  .swiper-container .pnbtn {
    display: none; }
  .swiper-container .swiper-wrapper .swiper-slide {
    background-color: transparent;
    width: 100%;
    position: relative; }
  .swiper-container .swiper-pagination-bullets {
    position: fixed;
    bottom: auto;
    top: -5px;
    left: auto;
    right: 250px;
    width: 600px;
    height: auto;
    margin-top: 50px; }
    .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
      position: relative;
      width: 120px;
      height: 25px;
      line-height: 20px;
      padding-top: 2px;
      border-radius: 0;
      background: none;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 20px; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet::after {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 3px;
        background: #243f88;
        left: 50%;
        transition: all 0.5s; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 60px; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 50px; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 90px; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 85px; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3) {
        margin-left: 20px; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4) {
        margin-left: 35px; }
  .swiper-container .swiper-scrollbar {
    height: 2.5px;
    bottom: 30px;
    background: #575757; }
  .swiper-container .swiper-scrollbar-drag {
    width: 90%;
    height: 8px;
    top: 0px;
    border-radius: 0px;
    background: #2b2b2b;
    cursor: pointer; }

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.line {
  width: 100%;
  height: 1px;
  background: #52525231;
  position: fixed; }

#lineTop {
  top: 12%;
  left: 0; }

#lineBottom {
  bottom: 20%;
  left: 0; }

.line2 {
  width: 1px;
  height: 100%;
  background: #52525231;
  position: fixed; }

#lineleft {
  left: 15%;
  top: 0; }

#lineright {
  right: 15%;
  top: 12%; }

#cnt1 #about_box .ab {
  position: relative; }
#cnt1 #about_box .ab1 {
  grid-row: 1/3;
  overflow: hidden;
  width: 400px;
  height: 600px; }
  #cnt1 #about_box .ab1 img {
    width: 1080px;
    height: auto;
    max-width: none;
    position: absolute;
    left: -50%;
    top: -10%; }
  #cnt1 #about_box .ab1 .black {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s; }
  #cnt1 #about_box .ab1 p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    top: 245px;
    right: 10px;
    color: #f3f3f3;
    cursor: default;
    transition: all 0.5s; }
  #cnt1 #about_box .ab1:hover .black {
    background: rgba(0, 0, 0, 0); }
  #cnt1 #about_box .ab1:hover p {
    color: #000; }
#cnt1 #about_box .ab2 {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  grid-row: 2/4;
  width: 498px;
  height: 280px; }
  #cnt1 #about_box .ab2 video {
    height: 100%; }
  #cnt1 #about_box .ab2 .clock {
    position: absolute;
    top: -325px;
    left: 0;
    font-size: 30px;
    font-family: "Roboto"; }
  #cnt1 #about_box .ab2 #time {
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    width: 100px;
    height: 95px;
    position: absolute;
    top: -5px;
    right: -100px; }
    #cnt1 #about_box .ab2 #time .tb {
      margin-bottom: 5px;
      width: 55px;
      height: 25px;
      z-index: 500;
      text-align: left; }
    #cnt1 #about_box .ab2 #time .tb:hover {
      text-decoration: underline; }
#cnt1 #about_box .ab4 p {
  text-align: left;
  display: inline-block;
  width: 200px;
  line-height: 2;
  position: absolute;
  top: -10px;
  right: 0px;
  font-weight: 400; }
#cnt1 .arrow {
  position: absolute;
  bottom: 220px;
  right: 120px;
  width: 153px;
  height: 69px;
  opacity: 0.7;
  animation: arrow 1.5s linear infinite; }
@keyframes arrow {
  0% {
    right: 120px; }
  50% {
    right: 100px;
    opacity: 0.5; }
  100% {
    right: 120px; } }
#cnt2 #skill_box .sb {
  position: relative; }
#cnt2 #skill_box .sb1 {
  grid-row: 1/3; }
  #cnt2 #skill_box .sb1 .skillhead p {
    right: -230px; }
  #cnt2 #skill_box .sb1 .publishing .html {
    top: 50px;
    left: 60px; }
  #cnt2 #skill_box .sb1 .publishing .css {
    top: 50px;
    right: 60px;
    width: 50px; }
  #cnt2 #skill_box .sb1 .publishing .cv1 {
    top: 180px;
    right: 80px; }
  #cnt2 #skill_box .sb1 .publishing .ch1 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 85px;
    left: 50%; }
  #cnt2 #skill_box .sb1 .publishing .sass {
    top: 290px;
    right: 40px;
    width: 90px; }
  #cnt2 #skill_box .sb1 .publishing .cv2 {
    top: 180px;
    left: 80px; }
  #cnt2 #skill_box .sb1 .publishing .js {
    width: 40px;
    top: 245px;
    left: 70px;
    padding-top: 30px; }
  #cnt2 #skill_box .sb1 .publishing .cv3 {
    bottom: 150px;
    left: 80px; }
  #cnt2 #skill_box .sb1 .publishing .jquery {
    bottom: 30px;
    left: 50px;
    width: 70px; }
  #cnt2 #skill_box .sb1 .publishing .jsinfo {
    padding-top: 10px; }
  #cnt2 #skill_box .sb1 .publishing .jqueryinfo {
    padding-top: 10px; }
#cnt2 #skill_box .sb2 .txtcircle {
  right: -110px; }
#cnt2 #skill_box .sb3 .skillhead p {
  right: -260px; }
#cnt2 #skill_box .sb3 .vision .vue {
  top: 50px;
  left: 50px; }
#cnt2 #skill_box .sb3 .vision .ch2 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 85px;
  left: 50%; }
#cnt2 #skill_box .sb3 .vision .react {
  top: 50px;
  right: 60px; }
#cnt2 #skill_box .sb3 .vision .cv3 {
  top: 165px;
  left: 70px; }
#cnt2 #skill_box .sb3 .vision .typescript {
  top: 250px;
  left: 40px;
  width: 90px; }
#cnt2 #skill_box .sb3 .vision .ch3 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 280px;
  left: 50%; }
#cnt2 #skill_box .sb3 .vision .angular {
  top: 245px;
  right: 50px;
  width: 70px; }
#cnt2 #skill_box .sb4 .skillhead p {
  right: -200px; }
#cnt2 #skill_box .sb4 .design .photoshop {
  top: 50px;
  left: 50px; }
#cnt2 #skill_box .sb4 .design .ch4 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 65px;
  left: 50%; }
#cnt2 #skill_box .sb4 .design .illustrator {
  top: 50px;
  right: 50px; }
#cnt2 #skill_box .sb4 .design .photoshopinfo {
  top: 120px;
  left: 0px;
  padding-top: 50px; }
#cnt2 #skill_box .sb4 .design .illustinfo {
  top: 120px;
  right: 5px;
  padding-top: 50px; }

#cnt3 #portfolio_box > div:nth-child(odd) {
  background: blue; }
#cnt3 #portfolio_box > div:nth-child(even) {
  background: red; }
#cnt3 #portfolio_box .pb {
  position: relative; }

#cnt4 #contact_box > div:nth-child(odd) {
  background: blue; }
#cnt4 #contact_box > div:nth-child(even) {
  background: red; }
#cnt4 #contact_box .cb {
  position: relative; }

@media screen and (max-width: 1440px) {
  .swiper-container .swiper-pagination-bullets {
    top: -0.3472222222vw;
    right: 17.3611111111vw;
    width: 41.6666666667vw;
    margin-top: 3.4722222222vw; }
    .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
      width: 8.3333333333vw;
      height: 1.7361111111vw;
      line-height: 1.3888888889vw;
      padding-top: 0.1388888889vw;
      font-size: 1.3888888889vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet::after {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0.2083333333vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 4.1666666667vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 3.4722222222vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 6.25vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4):hover::after, .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:focus::after {
        width: 5.9027777778vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3) {
        margin-left: 1.3888888889vw; }
      .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4) {
        margin-left: 2.4305555556vw; }
  .swiper-container .swiper-scrollbar {
    height: 0.1736111111vw;
    bottom: 2.0833333333vw;
    background: #575757; }
  .swiper-container .swiper-scrollbar-drag {
    height: 0.5555555556vw; }

  .swiper-slide {
    text-align: center;
    font-size: 1.1111111111vw;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

  .line {
    height: 0.0694444444vw; }

  .line2 {
    width: 0.0694444444vw; }

  #cnt1 #about_box .ab1 {
    width: 20vw;
    height: 41.6666666667vw; }
    #cnt1 #about_box .ab1 img {
      width: 75vw; }
    #cnt1 #about_box .ab1 p {
      font-size: 3.4722222222vw;
      top: 17.0138888889vw;
      right: 0.6944444444vw; }
  #cnt1 #about_box .ab2 {
    width: 23vw;
    height: 19.4444444444vw; }
    #cnt1 #about_box .ab2 video {
      max-width: none;
      width: 100%; }
    #cnt1 #about_box .ab2 .clock {
      top: -22.5694444444vw;
      font-size: 2.0833333333vw; }
    #cnt1 #about_box .ab2 #time {
      font-size: 0.9722222222vw;
      padding-left: 0.6944444444vw;
      width: 6.9444444444vw;
      height: 6.5972222222vw;
      top: -0.3472222222vw;
      right: -6.9444444444vw; }
      #cnt1 #about_box .ab2 #time .tb {
        margin-bottom: 0.3472222222vw;
        width: 3.8194444444vw;
        height: 1.7361111111vw; }
  #cnt1 #about_box .ab4 p {
    width: 13.8888888889vw;
    top: -0.6944444444vw; }
  #cnt1 .arrow {
    bottom: 15.2777777778vw;
    right: 8.3333333333vw;
    width: 10.625vw;
    height: 4.7916666667vw; }
  @keyframes arrow {
    0% {
      right: 3vw; }
    50% {
      right: 2vw; }
    100% {
      right: 3vw; } }
  #cnt2 #skill_box .sb1 .skillhead p {
    right: -15.9722222222vw; }
  #cnt2 #skill_box .sb1 .publishing .html {
    top: 3.4722222222vw;
    left: 4.1666666667vw; }
  #cnt2 #skill_box .sb1 .publishing .css {
    top: 3.4722222222vw;
    right: 4.1666666667vw;
    width: 3.4722222222vw; }
  #cnt2 #skill_box .sb1 .publishing .cv1 {
    top: 12.5vw;
    right: 5.5555555556vw; }
  #cnt2 #skill_box .sb1 .publishing .ch1 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 5.9027777778vw; }
  #cnt2 #skill_box .sb1 .publishing .sass {
    top: 20.1388888889vw;
    right: 2.7777777778vw;
    width: 6.25vw; }
  #cnt2 #skill_box .sb1 .publishing .cv2 {
    top: 12.5vw;
    left: 5.5555555556vw; }
  #cnt2 #skill_box .sb1 .publishing .js {
    width: 2.7777777778vw;
    top: 17.0138888889vw;
    left: 4.8611111111vw;
    padding-top: 2.0833333333vw; }
  #cnt2 #skill_box .sb1 .publishing .cv3 {
    bottom: 10.4166666667vw;
    left: 5.5555555556vw; }
  #cnt2 #skill_box .sb1 .publishing .jquery {
    bottom: 2.0833333333vw;
    left: 3.4722222222vw;
    width: 4.8611111111vw; }
  #cnt2 #skill_box .sb1 .publishing .jsinfo {
    padding-top: 0.6944444444vw; }
  #cnt2 #skill_box .sb1 .publishing .jqueryinfo {
    padding-top: 0.6944444444vw; }
  #cnt2 #skill_box .sb2 .txtcircle {
    right: -7.6388888889vw; }
  #cnt2 #skill_box .sb3 .skillhead p {
    right: -18.0555555556vw; }
  #cnt2 #skill_box .sb3 .vision .vue {
    top: 3.4722222222vw;
    left: 3.4722222222vw; }
  #cnt2 #skill_box .sb3 .vision .ch2 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 5.9027777778vw; }
  #cnt2 #skill_box .sb3 .vision .react {
    top: 3.4722222222vw;
    right: 4.1666666667vw; }
  #cnt2 #skill_box .sb3 .vision .cv3 {
    top: 11.4583333333vw;
    left: 4.8611111111vw; }
  #cnt2 #skill_box .sb3 .vision .typescript {
    top: 17.3611111111vw;
    left: 2.7777777778vw;
    width: 6.25vw; }
  #cnt2 #skill_box .sb3 .vision .ch3 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 19.4444444444vw; }
  #cnt2 #skill_box .sb3 .vision .angular {
    top: 17.0138888889vw;
    right: 3.4722222222vw;
    width: 4.8611111111vw; }
  #cnt2 #skill_box .sb4 .skillhead p {
    right: -13.8888888889vw; }
  #cnt2 #skill_box .sb4 .design .photoshop {
    top: 3.4722222222vw;
    left: 3.4722222222vw; }
  #cnt2 #skill_box .sb4 .design .ch4 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 4.5138888889vw; }
  #cnt2 #skill_box .sb4 .design .illustrator {
    top: 3.4722222222vw;
    right: 3.4722222222vw; }
  #cnt2 #skill_box .sb4 .design .photoshopinfo {
    top: 8.3333333333vw;
    padding-top: 3.4722222222vw; }
  #cnt2 #skill_box .sb4 .design .illustinfo {
    top: 8.3333333333vw;
    right: 0.3472222222vw;
    padding-top: 3.4722222222vw; } }

/*# sourceMappingURL=main.css.map */
